/* Resetowanie CSS */

/* Ogólne resetowanie */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 wyprowadzenia */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Strukturalne elementy HTML */
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Zresetowanie elementu a do stanu domyślnego */
a {
  text-decoration: none;
  color: inherit;
}

/* Reszta stylizacji według potrzeb */

:root {
  --background-color: #c5aea01c;
  --header-color: #212529;
  --logo-color: #b30000;
  --green: #00b36f;
  --white: ghostwhite;
  --yellow: #b38c00;
}

@font-face {
  font-family: "nfs";
  src: url(../assets/font/NFS_by_JLTV.ttf) format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 0 30px;
}
* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

/* Scrol bar */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--header-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--header-color);
  border-radius: 0;
}

/* header */
header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-color {
  background-color: var(--header-color);
}

header img {
  background-color: var(--logo-color);
  max-width: 150px;
  height: auto;
  border-radius: 80% 40px;
  margin: 10px;
  margin-left: 50px;
  border: 3px solid var(--header-color);

  background-image: linear-gradient(to top, var(--logo-color), var(--yellow));
}

header h1 {
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
  color: var(--logo-color);
  font-family: "nfs", sans-serif;
  font-size: 1.5rem;
}

header h1::first-letter {
  color: #cacac8;
  font-size: 4rem;
  /* background: linear-gradient(to top, #ff0000 50%, #0000ff 50%,var(--background-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Dla przeglądarek opartych na WebKit */
  /* background-clip: text; */
  /* color: transparent; */
}

.contact-baner {
  margin-right: 50px;
  color: var(--white);
  font-family: "nfs", sans-serif;
  font-size: 1.3rem;
}

@media screen and (max-width: 768px) {
  .header-color h1 {
    font-size: 1rem; /* Rozmiar czcionki dla mniejszych ekranów */
    align-self: center;
  }

  header h1::first-letter {
    font-size: 2rem;
  }

  .contact-baner {
    font-size: 1rem;
  }
}
/* footer */
footer {
  background-color: white;
}
footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
footer ul li {
  padding: 20px;
  display: inline-block;
  list-style: none;
  color: #050b21;
}

.title-text {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 20px;
}

.copyright {
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}

.row {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  padding: 0 30px;
  text-align: center;
}

.contact-info h3 {
  margin-top: 0;
}

.bg-dark {
  background-color: #212529;
  color: white;
}

.form {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 70%;
  padding: 0 30px;
}

.form-div {
  display: flex;
  align-items: stretch;
  width: 100%;
  margin-bottom: 10px;
}

form {
  text-align: center;
}

.form-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(34, 7, 7);
  text-align: center;
  background-color: rgb(211, 211, 211);
  border-radius: 10px 0 0 10px;
}

.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border: 1px solid whitesmoke;
  border-radius: 0 10px 10px 0;
}

.form-textarea {
  padding: 5px;
  width: 100%;
  border-radius: 10px;
}

.btn-submit {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #b30000;
  color: whitesmoke;
  font-size: 18px;
  cursor: pointer;
}

li svg {
  fill: whitesmoke;
}

#search {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--logo-color);
}

input {
  outline: auto 0px;
}



.btn:hover {
  border-radius: 25px;
  border: 1px solid var(--yellow);
}
