/* main */

.search-bar {
  justify-content: center;
  padding: 20px;
  font-size: large;
  gap: 25px;
  line-height: 2;
}

.search-bar input {
  font-size: 16px;
  color: whitesmoke;
}

.search-bar svg {
  width: 20px;
  height: 20px;
}

.search-bar button {
  width: 80px;
}

.car-photo {
  align-items: center;
}

.car-photo img {
  width: 400px;
  height: auto;
  border-radius: 10px;
  margin: 15px;
}

.car-info {
  margin-left: 5%;
}

.car-info ul {
  margin-top: 20px;

  /* display: flex; */
}

.car-info ul li {
  margin: 10px 0;
  /* width: inherit; */
}

.car-info p {
  padding: 10px 0;
}

#cars > li {
  border: 2px solid var(--yellow);
  margin: 25px auto;
  border-radius: 10px;
  border: 3px solid rgba(248, 248, 255, 0.473);
  /* background-color: rgba(12, 82, 58, 0.596); */
}

.empty {
  text-align: center;
}

.empty p {
  line-height: 3;
  font-size: large;
}

.btn-choose {
  width: 220px;
  margin: 20px 0;
  padding: 5px 10px;
}

#customize {
  width: 95%;
  margin: 0 auto;
  background-color: rgba(8, 92, 92, 0.575);
}

.choosenCar {
  width: 20%;
  align-self: center;
}

fieldset {
  margin: 40px 20px;
  padding: 10px;
  border: 1px solid whitesmoke;
}

.customer-data ul {
  margin: 30px;
}

.customer-data ul li {
  margin: 15px 0;
}

.customer-data ul li label {
  display: inline-block;
  min-width: 120px;
}

.accessories-list {
  width: 500px;
  /* width: auto; */
  padding: 20px;
  counter-reset: list-counter;
}

.accessories-list li {
  padding: 2px 5px;
  width: inherit;
  line-height: 1.4;
}

.accessories-list li::before {
  content: counter(list-counter) "."; 
  counter-increment: list-counter;
  width: 30px;
}

.accessories-list li:hover {
  background-color: bisque;
  border-radius: 10px;
  button {
    display: block;
  }
}

.accessories-name {
  min-width: 300px;
}

.accessories-price {
  min-width: 85px;
}

.accessories-list button {
  border: 1px solid red;
  border-radius: 25px;
  cursor: pointer;
  display: none;
  padding: 2px 8px;
}

.cancelAndBuyButton {
  padding: 0 150px 30px;
}

.accessories-title {
  text-align: center;
}
