/* main */

.search-bar {
  justify-content: center;
  padding: 20px;
  font-size: large;
  gap: 25px;
  line-height: 2;
}

.search-bar input {
  font-size: 16px;
  color: whitesmoke;
}

.search-bar svg {
  width: 20px;
  height: 20px;
}

.search-bar button {
  width: 80px;
}

.car-photo {
  align-self: center;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.car-photo img {
  /* width: 400px; */
  width: 450px; /* Ustawienie stałej szerokości */
  height: 220px; /* Ustawienie stałej wysokości */
  max-width: 90%; /* Obraz nie będzie szerszy niż jego kontener */
  height: auto; /* Zapobiega zniekształceniu proporcji obrazu */
  /* flex: 1 1 auto; */
  height: auto;
  border-radius: 10px;
  box-shadow: 3px 4px 50px 0 var(--main-color4);
  justify-self: center;
}

.car-info {
  margin-left: 5%;
}

.car-info ul {
  margin-top: 20px;

  /* display: flex; */
}

.car-info ul li {
  margin: 10px 0;
  /* width: inherit; */
}

.car-info p {
  padding: 10px 0;
}

#cars > li {
  border: 2px solid var(--yellow);
  margin: 25px auto;
  border-radius: 10px;
  border: 3px solid rgba(248, 248, 255, 0.473);
  /* background-color: rgba(12, 82, 58, 0.596); */
}

.empty {
  text-align: center;
}

.empty p {
  line-height: 3;
  font-size: large;
}

.btn-choose {
  color: var(--main-color1);
  font-weight: 800;
  width: 150px;
  max-width: 80%;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 5px 10px;
  transition: transform 0.3s;
  border-radius: 10px;
  border: 1px solid transparent;
  background: linear-gradient(
    to top left,
    var(--main-color3),
    var(--white),
    var(--main-color3)
  );
}

.btn-choose:hover {
  transform: scale(1.1);
  background: linear-gradient(
    to top left,
    var(--white),
    var(--main-color3),
    var(--white)
  );
  border: 1px solid var(--main-color5);
  box-shadow: 0px 0px 15px 5px var(--main-color3);
  cursor: pointer;
}

#customize {
  width: 90%;
  margin: 0 auto;
  background-color: #11656649;
}

.choosenCar {
  padding-top: 35px;
  text-align: center;
  width: auto;
}

.choosenCar h2 {
  font-size: 2rem;
}

.choosenCar h3 {
  font-size: 1.2rem;
  color: var(--main-color4);
  font-weight: 700;
}

fieldset {
  padding: 8px;
  border: 1px solid whitesmoke;
  min-width: 260px;
  min-height: 135px;
}
.fildset-radio {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}

.radio-list {
  text-align: center;
}

.radio-list input,
label {
  display: inline-block;
  width: 80px;
  margin-top: 5px;
}
.customer-data ul {
  margin: 15px;
}

.customer-data ul li {
  margin: 15px 0;
  min-width: 450px;
}

.customer-data ul li label {
  display: inline-block;
  min-width: 120px;
}

.accessories-list {
  width: 500px;
  /* width: auto; */
  padding: 20px;
  counter-reset: list-counter;
}

.accessories-list li {
  padding: 2px 5px;
  width: inherit;
  line-height: 1.4;
}

.accessories-list li::before {
  content: counter(list-counter) ".";
  counter-increment: list-counter;
  width: 30px;
}

.accessories-list li:hover {
  background-color: var(--main-color5);
  border-radius: 10px;
  color: var(--main-color1);
  button {
    display: block;
  }
}

.accessories-name {
  min-width: 300px;
  padding: 2px;
}

.accessories-price {
  min-width: 85px;
  padding: 2px;
}

.accessories-list button {
  border: 1px solid var(--main-color2);
  border-radius: 25px;
  cursor: pointer;
  display: none;
  padding: 2px 8px;
  font-weight: 800;
}
.accessories-title {
  text-align: center;
}



.input {
  width: 180px;
  border: 0;
  border-bottom: 2px solid var(--main-color5);
  color: var(--white);
  background-color: transparent;
  padding: 5px;
  padding-left: 10px;
}

.btn-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input:focus {
  border-radius: 5px;
  border: 2px solid var(--main-color5);
}

.dateOfDelivery::placeholder {
  color: var(--white);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

.finance {
  height: auto;
  margin-bottom: 25px;
}

.custom-data {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--main-color1);
}

.choose-btn {
  width: 150px;
  padding: 8px;
  transition: transform 0.8s;
  font-size: 1rem;
  border: 1px solid var(--main-color5);
  border: 10px;
  background-color: var(--yellow);
  color: var(--main-color5);
}

.choose-btn:hover {
  box-shadow: 5px 5px 5px;
  transform: scale(1.1);
}

#acceptBuy:hover {
  background: linear-gradient(to top, var(--main-color2), var(--main-color3));
}
