/* main */
.search-car{
  justify-content: center;
  padding: 10px;
  font-size: large;
  gap: 25px;
  line-height: 2;
}

.search-car input{
  font-size: 16px;
}

.search-car svg{
  width: 20px;
  height: 20px;
}

.search-car button{
  width: 80px;
}