.summary-main {
  min-height: 70vh;
  /* background-color: #116566ad; */
  padding-top: 30px;
}

.summary-info {
  border-radius: 10px 0 0 0;
  background-color: #d9b08c38;
  min-width: 50%;
}

.summary-title {
  margin: 20px 0;
  text-align: center;
  font-size: 1.5rem;
}

#buyCarInfo {
  text-align: center;
  font-size: 1.3rem;
}

.summary-customer {
  margin-top: 40px;
  margin-bottom: 40px;
}

.ul-formats {
  margin-top: 20px;
  margin-left: 140px;
}

.ul-formats li {
  margin-top: 15px;
}

#totalItems li {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.car-photo {
  width: 50%;
}

details {
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 80px;
  width: 300px;
  min-width: 55%;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

/* slider */

.slider-container {
  /* position: relative; */
  min-width: 20%;
  max-width: 50%;
  height: auto;
  /* overflow: hidden;
  text-align: center; */
  /* background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.slider-container img {
  width: 70%;
  opacity: 0.7;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--main-color5)
}

#photo-car {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}
